* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html,
body {
  font-family: 'Lato', sans-serif; 
  font-size:16px;
  background-color: #EEEEEE;
​}

.logo {  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 300px;
  margin-left: 
}

/* form {
  display: flex;
  flex-direction: column;

} */

#header{
  position:fixed;
  width:100vw;
  top:0;
  background-color: #EEE;
  font-weight:400;
  font-size:1rem;
  height:5px;
  padding:3rem;
  z-index: 5;
}

#nav-bar {
  display: flex;
  align-items: center;
  flex-grow: .2;
  width: 300px;
  justify-content: space-between;
}

#nav-bar a {
  text-decoration: none;
}

.description {
  background-color: #EEEEEE;
  margin-top:95px;
  text-align: center;
}

.description p {
  font-size:1.5rem ;
  font-weight: 700;
  margin-bottom: 10px;
}

#email {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
 
input[type="submit"]{
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  font-weight: bold;
  font-size: 0.86em;
  text-transform: uppercase;
  background-color: #f1c40f;
}
input[type="submit"]:hover{
  background-color:#ffa500 ;
}

.button{
  margin: 1rem 0 1rem;
  text-align: center;
  width:6.39rem;
  height:2.3rem;
  font-weight: 400;
}

#Features {
  margin-top: 30px;
}

.feature {
  display: flex;
}

.icon {
display: flex;
align-items: center;
justify-content: center;
height: 125px;
width: 20vw;
  
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

.icon img {
  height: 3em;
  color: darkorange;
}

#How_it_works {
  display: flex;
  justify-content: center;
}
  
#pricing{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item{
background-color: #EEEEEE;
border:1px black solid;
height: fit-content;
text-align: center;
border-radius: 3px;
margin:0.63rem;
}

.item h2{
  margin-top: .94rem;
  font-size:1.5rem;
  font-weight: 700;
}

.head{
  background-color: #DDD;
  padding: 0.95rem;
  font-size:1rem;
  font-weight:700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 0.9em;
  width: 70vw;
  color: #444;
  background-color: #dddddd;
}

footer a {
  text-decoration: none;
}

@media (max-width: 640px) {
  body {
    font-size:12px;
  }
}